.started{
 padding-bottom: 135px;
  &__content{
    background: #EBFFE4;
    text-align: center;
    padding: 84px 0;
  }
  &__title{
    color: #051101;
    font-size: 44px;
    font-weight: 700;

  }
  &__text{
    color: #051101;
    font-weight: 400;
    line-height: 150%;
    margin: 24px 0 35px;
  }
}